/node_modules/
/lib/
/test/
custom-elements.json
# top level source
progress-bar.js
progress-bar.js.map
progress-bar.d.ts
progress-bar.d.ts.map
# only generated for size check
progress-bar.bundled.js
/src/stories/
/storybook-static/
/public/
/dist/